* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body-result {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fb;
    color: #333;
    line-height: 1.6;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
    font-size: 16px; margin-left:300px;
}

.body-result .entrance-container {
 
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}

  
  .entrance-container {
    background-color: #fff;
    /* width:80%; */
    max-width: 1200px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
  }
  
  .entrance-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .header-entranceresult {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .header-entranceresult h1 {
    font-size: 2.8em;
    color: #004d99;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .header-entranceresult p {
    font-size: 1.1em;
    color: #555;
  }
  
  .results-table h2 {
    font-size: 2.2em;
    color: #004d99;
    margin-bottom: 25px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    color: #333;
  }
  
  th {
    background-color: #005bb5;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  td {
    background-color: #fafafa;
    transition: background-color 0.3s ease;
  }
  
  td:hover {
    background-color: #f0f0f0;
  }
  
  tr:nth-child(even) td {
    background-color: #f9f9f9;
  }
  
  tr:hover td {
    background-color: #e6f0ff;
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  
 
  .pass {
    color: #4CAF50;
    font-weight: bold;
  }
  
  .fail {
    color: #f44336;
    font-weight: bold;
  }
  

  @media (max-width: 768px) {
    .entrance-container {
      padding: 30px;
      width: 95%;
    }
  
    .header h1 {
      font-size: 2.4em;
    }
  
    .results-table h2 {
      font-size: 1.8em;
    }
  
    table, th, td {
      font-size: 1em;
      padding: 15px;
    }
  
    .entrance-container .container {
      width: 100%;
      padding: 20px;
    }
  }
  