@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f6f8;
}

.sidebar {
  position:fixed;
  width: 280px;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

.sidebar-logo {
  text-align: center;
  padding: 20px 0;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

.sidebar-logo .logo-image {
  width: 150px;
  height: auto;
  border-radius: 12px;
  margin-left: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(39, 38, 36, 0.3);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 14px 18px;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s;
  border-radius: 10px;
  margin-bottom: 8px;
}

.sidebar-item i {
  margin-right: 12px;
  font-size: 20px;
  color: #ff8c00;
}

.sidebar-item:hover {
  background-color: #d6b1a4;
  transform: translateX(8px);
  color: #0d0d11;
}

.sidebar-item.active {
  background-color: #d6b1a4;
  color: #1c1b2b;
  font-weight: 500;
}

.sidebar-logout {
  margin-top: auto;
  padding: 14px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: #e98145;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s;
}

.sidebar-logout:hover {
  background-color: #fc916a;
  transform: translateY(-3px);
}

.sidebar-logout i {
  margin-right: 10px;
  font-size: 18px;
}

.menu-icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}
.text {
  font-size: 16px;
}

.dashboard-content {
  background-color: #f9f9f9; /* Optional: Add some background styling */
  padding: 20px;             /* Optional: Add padding */
 margin-left: 18%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
 /* margin: 0; */
  display: flex;
  justify-content: center;
}
.dashboard-container{
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}