.container {
  max-width: 5000px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
}

.nav {
  background-color: rgba(41, 128, 185, 0.8);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  /*background-image: url(https://img.freepik.com/free-vector/flat-travel-background_23-2148059147.jpg?size=338&ext=jpg);*/
}

.about-us {
  background-image: url("https://nht-api.nepalhikingteam.com/media/attachments/Rara-1024x683.jpg");
  background-color: #bdc3c7;
  background-size: cover;
  background-position: center;
  padding: 5rem 2rem;
  color: #ffffff;
  border-radius: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.about-us h1 {
  font-size: 2.5rem;
  margin-bottom: 1px;
  margin-top: 0;
  color: #fff;
}

.about-us p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer {
  background-color: #2c3e50;
  color: #bdc3c7;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}
