/* General Styling */
h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* Contact Form Styling */
.contact-form {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  background-image: url(https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.contact-form h1 {
  color: #333;
}

.contact-form form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.contact-form form textarea {
  resize: vertical;
}

.contact-form form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #545e69;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form form button:hover {
  background-color: #768ea9;
}

/* Navigation Bar Styling */
.container-contact nav {
  background-color: rgba(41, 128, 185, 0.8);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 20px 0;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  display: block;
  color: #000001;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: medium;
  transition: background-color 0.3s ease;
}

.nav ul li a:hover {
  background-color: #95a9a4;
  color: #fff;
}


@media (max-width: 768px) {
  .contact-form {
    width: 90%;
    padding: 15px;
    margin: 30px auto;
  }

  .container-contact nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .nav ul li {
    margin-bottom: 10px;
  }

  .nav ul li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .contact-form form input[type="text"],
  .contact-form form input[type="email"],
  .contact-form form textarea {
    font-size: 14px;
  }

  .contact-form form button {
    font-size: 14px;
  }

  .nav ul li a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
