.courses-container {
  display: flex;
  padding: 20px;
  width: 100%;
  gap: 30px;
  background: linear-gradient(to right, #eceff1, #f5f5f5);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  /* height: 100vh; */
  overflow: hidden;
}

.courses-slider {
  padding: 25px;
  width: 20%;
  background-color: #dfe3e6;
  border: 1px solid #aaa;
  border-radius: 8px;
  
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  top: 25px;
}

.courses-slider:hover {
  transform: translateY(-5px);
  background-color: #c9d2d9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.slider .filter-section {
  margin-bottom: 25px;
  font-size: 18px;
}

.slider h3 {
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.filter-option{
  display: flex;
  align-items:center ;
}
.filter-option label {
  font-size: 16px;
  color: #555;
}
.filter-option input{
  position: relative;
    bottom: 5px;
}
.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  width: 80%;
  background-color: rgba(108, 110, 95, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow-y: scroll;
  max-height: 100%; */
}

.courses-card {
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  background-color: #c6dfe1;
  box-shadow: 0 6px 12px rgba(43, 37, 37, 0.15);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-align: center;
  height: 200px;
}

.courses-card:hover {
  background-color: #e3f1f4;
  box-shadow: 0 12px 24px rgba(43, 37, 37, 0.25);
  transform: translateY(-8px);
  cursor: pointer;
}

.courses-card h4 {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "Lora", serif;
  color: #2c3e50;
}

.courses-card p {
  margin: 0;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .courses-container {
    flex-direction: column;
    padding: 15px;
    height: auto;
  }

  .courses-slider {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
  }

  .courses-grid {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .courses-container {
    padding: 10px;
  }
  .courses-slider {
    width: 10%;
    height: fit-content;
  }
  .courses-card {
    font-size: 14px;
    padding: 15px;
  }

  .courses-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .courses-card h4 {
    font-size: 18px;
  }

  .courses-card p {
    font-size: 13px;
  }

  .courses-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
