
.bca-container {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.6;
  margin: 20px auto;
  max-width: 900px;
  padding: 20px;
  background-color: #ffffff;
  color: #2c3e50;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.bca-header {
  text-align: center;
  background: url('../images/course.jpg') no-repeat center/cover; 
  color: #ffffff;
  padding: 60px 20px;
  border-radius: 12px 12px 0 0;
  position: relative;
  padding-bottom: 40px;

}



.bca-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 12px 12px 0 0;
  z-index: 1;
}

.bca-header h1,
.bca-header p {
  position: relative;
  z-index: 2;
}

.bca-header h1 {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.bca-header p {
  font-size: 1.2rem;
  margin: 10px 0 0;
  font-style: italic;
  color: #dff9fb;
}


.bca-section {
  margin: 20px 0;
}

.bca-section h2 {
  font-size: 1.8rem;
  color: #9b59b6;
  margin-bottom: 10px;
  border-left: 4px solid #8e44ad;
  padding-left: 8px;
}

.bca-section p {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: justify;
  color: #34495e;
}

.bca-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.bca-section ul li {
  margin: 5px 0;
  color: #2c3e50;
}


.bca-footer {
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  font-size: 1.1rem;
  font-weight: 500;
}

.bca-footer p {
  margin: 0;
  color: #ecf0f1;
}


.bca-header:hover {
  background-color: #8b206b;
}

.bca-footer:hover {
  background-color: #27ae60;
}


@media (max-width: 768px) {
  .bca-header h1 {
    font-size: 2rem;
  }

  .bca-section h2 {
    font-size: 1.6rem;
  }
}
