* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header-blog {
  background-color: #76658d;
  color: white;
  padding: 10px 0; /* Reduced padding to fit content naturally */
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.article {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.article:hover {
  transform: scale(1.05);
}

.article h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.article p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #555;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  padding: 10px 20px;
  background-color: #76658d;
  color: white;
  border: 2px solid #76658d;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination button:hover {
  background-color: white;
  color: #76658d;
}

.pagination button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}


.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-container input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #76658d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.search-container button:hover {
  background-color: #5a4a6f;
}

.blog-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  z-index: 1000;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-detail-content {
  max-width: 800px;
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 8px;
}

.blog-detail-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.blog-detail-content h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.blog-detail-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.blog-detail button {
  background-color: #76658d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.blog-detail button:hover {
  background-color: #5a4a6f;
}
